      @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
      @import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');      
      body {
        margin: 0 auto;
        background-repeat: no-repeat;
        height: 100%;
        background-position: center;
        background-size: cover;
        background: radial-gradient(#763e7b, #1a2a86);; 
        overflow-x: hidden;
        text-align: center;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
      }
      h2 {
        padding-top: 70px;
      }
   
      /* loading */
      .loading {
        font-family: 'DynaPuff', cursive;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(49, 114, 255);
        z-index: 99;
      }
      .loading:after {
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        top: -30px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        border: 6px solid #f2f2f2;
        border-top: 6px solid #f2f2f2;
        border-bottom: 6px solid #f2f2f2;
        border-radius: 30%;
        animation: loading 2s infinite;
      }
      .loading:before {
        padding-left: 15px;
        font-size: 20px;
        letter-spacing: 5px;
        color: white;
        content: "loading...";
        position: absolute;
        top: 57%;
        text-align: center;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
      
      @keyframes loading {
        0% {
          transform: rotate(0);
        }
        50% {
          transform: rotate(360deg);
        }
      }
      /* </loading  */


      @import url(https://fonts.googleapis.com/css?family=Open+Sans);
      .round {
        margin: 10px;
        padding: 5px;
        margin-right: 50px;
        border: none;
        max-width: 35%;
        border-radius: 50%;
        text-align: center;
        font-size: 30px;
        float: left;
        shape-outside: circle();
        color: white;
      }
    
      .about {
        margin: 0 auto;
        max-width: 700px;
      }
      p {
        color: white;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: start;
      }
      
      nav {
        font-family: "Montserrat Alternates", sans-serif;
      }
      li {
      padding: 5px;
      }
      .navbar-brand {
        font-family: "Fascinate", cursive;
      }
     
      button {
        font-family: "Fascinate", cursive;
        font-weight: bolder;
        font-size: 1.1em;
        text-decoration: none;
      }
      .cta {
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;       
      }
      footer {
        padding-top: 30px;
        padding-bottom: 20px;
        font-family: "Montserrat Alternates", sans-serif;
       
        color: white;
      }
      footer p {
        text-align: center;
      }
      .email {
        text-decoration: none;
        padding: 5px;
        font-family: "Fascinate", cursive;
        color: white;
        border-radius: 10px;
        background-color: transparent;
        background-repeat: no-repeat;
        border: solid;
        cursor: pointer;
        overflow: hidden;
        outline: none;
      }
      .email a {
        text-align: center;
      }
      .email:visited {
        color: white;
      }
      .email:hover {
        color: #fff;
        text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          0 0 42px #fff,
          0 0 82px #fff,
          0 0 92px #fff,
          0 0 102px #fff,
          0 0 151px #fff;
      }
      p {
        font-size: 1.1rem;
      }
      /* latest adds */
      .navbar img {
        width: 100px;
      }
     
      .highlights {
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
        padding: 50px;
        font-size: 1.4rem;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-items: center;
      }

      .highlights .col {
        margin-bottom: 30px;
      }

      .row {
        padding-top: 80px;
      }
      h1 {
        color: white;
        font-size: 1.8rem;
        margin-bottom: -50px;
        font-family: "Fascinate", cursive;
      }
      h2 {
        color: white;
        margin-top: 90px;
        font-family: "Montserrat Alternates", sans-serif;
      }
      .navbar {
        margin-top: 10px;
      }
      @media screen and (min-width: 700px) {
        .highlights .row {
          width: 110%;
        }
        .subtitle {
          padding-top: 60px;
        }
      }
      @media screen and (min-width: 600px) {
        h1,
        h2 {
          font-size: 2rem;
        }
        .highlights {
          font-size: 1.7em;
          padding: 40px;
          margin: 10px;
          padding-bottom: 20px;
        }

        /* .col {
          padding: 70px;
        } */
        .navbar {
          font-size: 1rem;
        }
      }
      @media screen and (min-width: 310px) and (max-width: 420px) {
        h1,
        h2 {
          padding-left: 50px;
          padding-right: 50px;
        }
        .col {
          padding: 10px;
          margin-left: 30px;
          margin-right: 30px;
        }
        .highlights .col {
          padding-bottom: 0px;
        }
      }
      .about {
        font-size: 2vw;
        font-family: "Montserrat Alternates", sans-serif;
        padding-top: 70px;
        margin-bottom: 100px;
      }
      @media only screen and (max-width: 390px) {
        .about {
          display: grid;
        }
        .round {
          width: 50%;
          margin: 0 auto;
        }
        p {
          text-align: center;
          margin-top: 20px;
        }
      }
      .head {
        /* margin-top: 30px; */
        margin-bottom: -20px;
        font-family: "Fascinate", cursive;
      }
   
      /* skills */

      h4 {
        font-family: "Fascinate", cursive;
      }
      .skills .col {
        margin: 10px;
        padding: 5px;
      }

      .skills {
        color: white;
        margin-left: -30px;
      }
      .skill {
        margin-left: 30px;
      }
      .skills ul {
        list-style: none;
        display: grid;
        font-family: "Montserrat Alternates", sans-serif;
        /* margin-left: -50px; */
        align-items: center;
        justify-items: center;
        margin: 0 auto;
      }
      @media only screen and (max-width: 450px) {
        .skills {
          font-size: 1.2rem;
          padding: 30px;
        }
      }
      /* subtitle */
      .subtitle {
        color: white;
        font-family: "Fascinate", cursive;
        margin-top: 20px;
        margin-bottom: -10px;
      }
      .fancy {
        line-height: 0.3;
        text-align: center;
      }
      .fancy span {
        display: inline-block;
        position: relative;
      }
      .fancy span:before,
      .fancy span:after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        top: 0;
        width: 100px;
      }
      .fancy span:before {
        right: 100%;
        margin-right: 15px;
      }
      .fancy span:after {
        left: 100%;
        margin-left: 15px;
      }
     
      /* back to top */
      .fa-arrow-up {
        background-color: transparent;
        color: rgb(211, 202, 202);
       
      }
      .hello {
        margin-top: 100px;
        font-family: "Montserrat Alternates", sans-serif;
      }
      #header_animated {
        margin: 0 auto;
        max-width: 80%;
        /* margin-top: 100px; */
      }

      @media screen and (min-width: 448px) {
        #back-to-top {
          display: none;
        }
      }
      .firstp {
        margin-top: 15px;
      }

      /* dark mode stuff */

      
      @media (prefers-color-scheme: dark) {
        body {
          margin: 0 auto;
          background-repeat: no-repeat;
          height: 100%;
          background-position: center;
          background-size: cover;
          background: radial-gradient(#7fe3a9, #d76819);
          overflow-x: hidden;
          text-align: center;
          color: white;
          font-family: "Montserrat Alternates", sans-serif;
        }
      }